@font-face {font-family: "Opensans Extrabold";src: url("../fonts/OpenSansExtraBold.ttf");}
@font-face {font-family: "OpenSans Semibold";src: url("../fonts/OpenSansSemiBold.ttf");}
@font-face {font-family: "Exo2 Bold";src: url("../fonts/Exo2Bold.ttf");}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Exo2 Bold", sans-serif;
    font-size: 18px;
    color: #361209;
    font-weight: 100;
}
.clearfix {clear: both;}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: #150705;
    display: flex;
}

.wrap {
    width: 1366px;
    height: 740px;
    background: transparent url("../images/background.jpg");
    background-size: cover;
    margin: auto;
    position: relative;
}
.left-column {
    width: 350px;
    margin-left: 120px;
    margin-top: 80px;
    float: left;
}
.logo {width: 100%;outline: none;}
.logo img {width: 100%;}
.call-us-form {
    width: 100%;
    border: 4px solid #361209;
    background: transparent url("../images/background-form.jpg") no-repeat;
    margin-top: 10%;
}
.call-us-form .form-header {
    width: 100%;
    text-align:center;
    background: transparent url("../images/bg_form.png") no-repeat right center;
    background-size: cover;
    padding: 6px 0 15px;
}
.call-us-form .title {color:#ffffff;font-size:1.2em;}
.call-us-form .call-me-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent url("../images/sprite.png") no-repeat right center;
    background-size: cover;
}
.call-us-form label {
    display: block;
    width: 80%;
    margin: 0 auto 5%;
}
.call-us-form .user-name, .call-us-form .user-phone {
    width: 100%;
    border: 3px solid #361209;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
}
input::-webkit-input-placeholder {color: #361209;opacity: 1;text-align: center;}
input::-moz-placeholder {color: #361209;opacity: 1;text-align: center;}
input:-moz-placeholder {color: #361209;opacity: 1;text-align: center;}
input:-ms-input-placeholder {color: #361209;opacity: 1;text-align: center;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
.call-us-form input[type='submit'] {
    width: 80%;
    margin: 0 10% 10% 10%;
    text-transform: uppercase;
    background: transparent url("../images/background-button.jpg");
    background-size: 100% 100%;
    color: white;
    border: none;
    padding: 10px;
    font-family: "Opensans Extrabold", sans-serif;
    cursor: pointer;
}


.right-column {
    width: 880px;
    float: right;
    text-align: center;
}
.contacts {
    width: 100%;
    margin: 50px 0 20px;
}
.social-block {
    display: inline-block;
    text-align: left;
    background: transparent url('../images/back-arrow.png') no-repeat center right;
    padding-right: 20px;
    vertical-align: middle;
}
.social-block .title, .phone-block .title {width: 100%;}
.social-block .inst-icon, .social-block .fb-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent url('../images/sprite.png') no-repeat 0 center;
    background-size: cover;
}
.social-block .fb-icon {background: transparent url('../images/sprite.png') no-repeat 33% center;background-size: cover;}
.phone-block {
    display: inline-block;
    margin: 0 60px;
    vertical-align: middle;
    text-align: left;
}
.phone-block .phone-number {display: inline-block;line-height: 25px;vertical-align: top;}
.phone-block .phone-icon {
    display: inline-block;
    width: 20px;
    height: 25px;
    background: transparent url('../images/sprite.png') no-repeat 68% center;
    background-size: cover;
}
.call-us-button {
    display: inline-block;
    background: transparent;
    text-transform: lowercase;
    border: 3px solid #361209;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    padding: 8px 10px;
    font-size: 1.1em;
}

nav {width: 100%;text-align: left;}
nav ul {
    width: 100%;
    list-style: none;
    background: transparent url('../images/background-menu.png') no-repeat;
    background-size: cover;
    height: 60px;
}
nav ul li {
    display: inline-block;
    margin-right: 7%;
    height: 60px;
}
nav ul li:first-child {margin-left: 8%;}
nav ul li a {
    color: #ffffff;
    font-size: 1.1em;
    line-height: 60px;
}
.content-block {
    width: 680px;
    margin: 30px 0 0 60px;
}
.content-block .title {
    font-size: 1.67em;
}
.content-block p {
    text-align: justify;
}
.footer-block {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #390e07;
    font-size: 1.35em;
}
.wrap-background-fix {
    position: absolute;
    height: 100%;
}